.task-card {
  text-align: left;
  background-color: #FAFDD7;
  max-width: 30rem;
  border: black solid 1px;
  border-radius: 5px;
  margin: 3rem auto;
  padding: 0 1rem;
}

button {
  min-width: 8rem;
  font-weight: bold;
  padding: 5px;
  margin: 1rem 0.5rem;
  border-radius: 3px;
  cursor: pointer;
}

.edit-btn {
  border: solid black 1px;
}

.delete-btn {
  background-color: #CE1408;
  color: white;
  border: solid #CE1408 1px;
}

.completed-btn {
  border: solid black 1px;
  background-color: #B6C6CE;
}

.task-completed {
  background-color: lightgrey;
  text-decoration: line-through;
}
