.input-div {
  margin: 1rem;  
}

.input-label {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0.5rem;
}

.input-submit {
  font-size: 1rem;
  color: white;
  background-color: black;
  font-weight: bold;
  height: 2rem;
  max-width: 16rem;
  min-width: 8rem;
  margin: 0.5rem;
}

input, textarea {
  font-size: 1.2rem;
  width: 100%;
}
