.todo-card {
  background-color: #FAFDD7;
  max-width: 20rem;
  border: black solid 1px;
  border-radius: 5px;
  margin: 3rem auto;
  padding: 1rem;
}

button {
  min-width: 8rem;
  font-weight: bold;
  padding: 5px;
  margin: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
}

.complete-btn {
  border: solid black 1px;
}

.delete-btn {
  background-color: #CE1408;
  color: white;
  border: solid #CE1408 1px;
}